<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_ZooManager.Properties.Settings.gqdbConnectionString"
            connectionString="Data Source=DESKTOP-H068TGB;Initial Catalog=gqdb;Persist Security Info=True;User ID=sa;Password=Sp4rtacu5"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>